body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
  }
  
  .hero-section {
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  
  .card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card h4 {
    color: #007BFF;
  }
  
  .card:hover {
    transform: scale(1.05);
    transition: 0.3s;
  }
  